body {
    background: #e1e1e1;
}

.u_city-wrapper {
    display:none !important;
}


.form-wrapper {
    border-radius: 7px;
}

.form-wrapper label {
    font-weight: 700;
}

.errors ul {
    padding-left: 0px;
    margin-bottom: 0;
}

.errors li {
    list-style-type: none;
    width: 100%;
    font-size: 14px;
}

.wrap {
    max-width: 1024px;
    margin: 5rem auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 0.5rem;
    position: relative;
}
pre {
    white-space: normal;
    margin-top: 1.5rem;
}
code {
    background: #fafafa;
    border: 1px solid #efefef;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: block;
}
p {
    margin-top: 1.5rem;
}
.footer {
    margin-top: 2rem;
    border-top: 1px solid #efefef;
    padding: 1em 2em 0 2em;
    font-size: 85%;
    color: #999;
}
a:active,
a:link,
a:visited {
    color: #dd4814;
}

@media (max-width: 768px) {
    .form-wrapper .text-end {
        text-align: center !important;
    }

    .form-wrapper .btn-primary {
        display: block;
        margin: 0 auto;
    }
}